<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Hello world</title>

<!-- Css ↓   /项目虚拟目录-->
<link rel="stylesheet" th:href="@{/bootstrap-table.min.css}">
<link rel="stylesheet" th:href="@{/bootstrap.min.css}">

<!-- JS ↓ -->
<script type="text/javascript" th:src="@{/jquery-3.3.1.min.js}"></script>
<script type="text/javascript" th:src="@{/bootstrap-table.min.js}"></script>
<script type="text/javascript" th:src="@{/bootstrap.min.js}"></script>
</head>
<body>
在前端使用thymeleaf展示后台数据
<h1>  User List Javascript thymeleaf Data </h1>

<table id="table">
    <thead>
        <tr>
           <th data-field="id">id</th>
           <th data-field="loginName">loginName</th>
           <th data-field="passWord">nickName</th>
        </tr>
    </thead>

</table>


    
<script th:inline="javascript">
    var $table = $('#table');
    $(function () {
        var data = [[${data}]];
        $table.bootstrapTable({data: data});
    });
</script>
</body>
</html>
